.main {
  z-index: 2;

  h1 {
    color: white;
  }
}

.form {
  display: flex;
  flex-direction: column;

  .inputWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
    gap: 2rem;

    .inputs {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(100%, 10rem), 1fr));
      gap: 1rem;

      .mantine-InputWrapper-label {
        font-size: 1rem;
      }
    }
  }
}


.fontSizeAt {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  .mantine-NumberInput-input {
    padding: 0;
    font-size: 1.5rem;
    text-align: center;
    width: 10ch;
    border-bottom: 2px darkblue solid;
  }

  .mantine-NumberInput-section {
    display: none;
  }
}