.main {
  z-index: 2;
  display: grid;
  gap: 2em 1em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "Header Clamp Clamp"
    "Form Form Form"
    "SizeAt Graph Graph";

  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "Header"
      "Clamp"
      "Form"
      "SizeAt"
      "Graph";
  }
}

.header {
  grid-area: Header;

  p {
    margin: 0;
  }
}

.graph {
  grid-area: Graph;
}

.form {
  grid-area: Form;
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 1.5rem;
    border-bottom: 2px solid darkblue;
  }

  .inputWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
    gap: 2rem;

    .inputs {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(100%, 10rem), 1fr));
      gap: 1rem;

      .mantine-InputWrapper-label {
        font-size: 1rem;
      }
    }
  }
}

.copyItem {
  grid-area: Clamp;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  code {
    font-weight: bold;
    color: darkblue;
  }
}

.sizeAt {
  grid-area: SizeAt;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .fontSizeAt {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;

    &__value {
      font-size: 2.75rem;
      text-align: center;
      font-weight: bold;
      margin: 0;
      color: darkblue;
    }

    .mantine-NumberInput-input {
      padding: 0;
      font-size: 1.5rem;
      text-align: center;
      width: 8ch;
      border-bottom: 2px darkblue solid;
    }

    .mantine-NumberInput-section {
      display: none;
    }
  }
}
